.contact__title {
  font-family: var(--font-family__h);
  font-size: var(--font-size__h3);
  line-height: var(--line-height__h3);
  font-weight: var(--font-weight__bold);
  padding-bottom: 24px;
  flex-shrink: 0;
  max-width: 90%;
}
