.quote {
  margin: 100px auto;
  padding: 0 0 0 50px;
  position: relative;

  font-size: var(--text__size_quote);
  line-height: var(--text__line-height_quote);
  font-weight: var(--text__weight_medium);
}

.quote::before {
  content: '“';
  display: block;
  position: absolute;
  left: -7px;
  top: 34px;
  color: var(--color__accent_green);
  font-size: 81px;
  line-height: 0;
}