.section__text {
  font-size: var(--font-size__p);
  line-height: var(--line-height__p);
  font-weight: var(--font-weight__regular);
  color: var(--color__text_p);

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;

  text-overflow: ellipsis;
  overflow: hidden;
}
