.button {
  height: 48px;
  min-width: 169px;
  max-width: 300px;
  border-radius: var(--border-radius_small);
  padding: 12px 40px 12px 40px;
  border: 1px solid var(--color__accent_green);
  background-color: var(--color__bg_white);

  font-family: var(--font-family_main);
  font-size: var(--font-size_p);
  line-height: var(--line-height_p);
  font-weight: var(--font-weight_medium);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
