.direction__brands-name {
  display: flex;
  padding-top: 8px;
  color: var(--color__text_p-small);
  font-size: var(--font-size__p-small);
  line-height: var(--line-height__p-small);
  gap: 10px;
}

.direction__brands-name:nth-child(2n) {
}
