.direction {
  display: flex;
  max-width: 940px;
  height: 332px;
  gap: 68px;
  justify-content: flex-start;
  position: relative;
}

.direction:nth-of-type(2n) {
  flex-direction: row-reverse;
}


/* --------------MEDIA--------------- */

@media screen and (max-width: 1079px) {
  .direction {
    height: 320px;
    box-sizing: border-box;
    width: 100%;
    gap:56px;
    padding: 0 var(--padding__section) 0 0;
  }

  .direction:nth-of-type(2n) {
    padding: 0 0 0 var(--padding__section);
  }
}

@media screen and (max-width: 791px) {
  .direction {
    display: block;
    height: auto;
    padding: 0;
  }

  .direction:nth-of-type(2n) {
    padding: 0;
  }
}




/*----------------------------------*/

.de-accent .direction_column {
  width: 380px;
  margin: 0;
  justify-content: flex-start;
}

.de-accent .direction__img {
  width: 300px;
  height: 108px;
  border-radius: 0;
}

.de-accent .direction__texts {
  width: inherit;
}

.de-accent .direction__brands {
  display: none;
}

.de-accent .direction__button {
  margin: 44px 0 0;
}
