.contacts__grid {
  padding: 79px auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 100px 20px;
}

/* --------------MEDIA--------------- */

@media screen and (max-width: 1079px) {
  .contacts__grid {
    padding-top: 72px;
    gap: 68px 20px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 791px) {
  .contacts__grid {
    padding-top: 32px;
    gap: 44px;
  }
}
