.main {
  max-width: 940px;
  padding: 0 70px;
  margin: 0 auto;
}

.de-accent {
  background-color: var(--color__bg_grey);
  margin: 64px 0 75px;
  padding: 113px 0 148px;
  box-sizing: content-box;
}

.de-accent__wrapper {
  width: 940px;
  padding: 0 70px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 92px;
}

.section__title {
  font-size: var(--font-size_h2);
  line-height: var(--line-height_h2);
  font-weight: var(--font-weight_bold);
}