:root {
  --color__accent_green: #177C1B;
  --color__accent_orange: #EF7D00;

  --color__bg_white: #fff;
  --color__bg_grey: #EFEFEF;
  --color__bg_dark: #434350;
  --color__bg_popup: #84858E;

  --color__border_white: rgba(255, 255, 255, 0.6);
  --color__border_gradient: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 25%, rgba(255, 255, 255, 0.5) 75%, rgba(255, 255, 255, 0) 100%);
  --color__border_grey: #ccc;
  --color__border_menu: #0e6211;

  --color__text_main: #000;
  --color__text_invert: #fff;
  --color__text_p: #555;
  --color__text_p-small: #737373;
  --color__text_p-tiny:#999;

/* --------------------- */
/* --------------------- */

  --border-radius__main: 8px;
  --border-radius__small: 4px;

/* --------------------- */

  --padding__section: 70px;


/* --------------------- */

  --transition__link: opacity .3s ease-out ;

/* --------------------- */
/* --------------------- */

  --font-family__h: 'Golos Text', sans-serif;
  --font-family__p: 'Arimo', sans-serif;

  --font-size__h1: 42px;
  --line-height__h1: 44px;

  --font-size__h2: 32px;
  --line-height__h2: 36px;

  --font-size__quote: 24px;
  --line-height__quote: 32px;

  --font-size__h3: 22px;
  --line-height__h3: 24px;

  --font-size__h4: 16px;
  --line-height__h4: 20px;

  --font-size__p: 16px;
  --line-height__p: 24px;

  --font-size__p-small: 14px;
  --line-height__p-small: 20px;

  --font-size__p-tiny: 12px;
  --line-height__p-tiny: 16px;

  --font-weight__bold: 600;
  --font-weight__medium: 500;
  --font-weight__regular: 400;

}

@media screen and (max-width: 1079px) {
  :root {

    --padding__section: 86px;

/* --------------------- */
/* --------------------- */

    --font-size__h1: 38px;
    --line-height__h1: 40px;

    --font-size__h2: 28px;
    --line-height__h2: 32px;

    --font-size__h3: 20px;
    --line-height__h3: 24px;
  }
}

@media screen and (max-width: 791px) {
  :root {

    --padding__section: 22px;

/* --------------------- */
/* --------------------- */

    --font-size__h1: clamp(24px,5vw,38px);
    --line-height__h1: clamp(28px,6vw,40px);

    --font-size__h2: clamp(20px,5vw,28px);
    --line-height__h2: clamp(24px,5vw,32px);

    --font-size__quote: clamp(20px,4vw,24px);
    --line-height__quote: clamp(28px,4vw,32px);

    --font-size__h3: clamp(16px,3vw,20px);

    --font-size__h4: clamp(14px,3vw,16px);

    --font-size__p: clamp(14px,2.5vw,16px);
    --line-height__p: clamp(20px,3.5vw,24px);

    --font-size__p-small: clamp(13px,2vw,14px);
    --line-height__p-small: clamp(16px,2vw,20px);

  }
}
