.section_type_brands-grid {
   margin: 75px auto 107px;
}
/* --------------MEDIA--------------- */

@media screen and (max-width: 1079px) {
  .section_type_brands-grid {
    margin: 60px auto 135px;
  }
}

@media screen and (max-width: 791px) {
  .section_type_brands-grid {
    margin: 108px auto 88px;
  }
}
