.link {
  color: inherit;
  opacity: 1;
  transition: var(--transition__link);
}

.link:hover {
  opacity: .6;
}

/* .link:visited {
  color: inherit;
} */

.active {
  opacity: .2;
  pointer-events: none;
}
