.header__contact {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  justify-content: right;
  align-items: end;
  gap: 2px;
  padding: 0;
}

/* --------------MEDIA--------------- */

@media screen and (max-width: 1079px) {
  .header__contact {
    flex-direction: row-reverse;
    gap: 32px;
  }
}

/* @media screen and (max-width: 791px) {
  .header__contact {

  }
} */